
body{
    background-color: #EEEEEE;
}
.header{
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}
.header h1{
    font-size: 44px;
    font-family: 'Righteous', cursive;
    color: white;
    margin-left: 21px;
}
.header p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    margin-left: 21px;
    margin-top: 2px;
}
main {
    width: 100%;
    margin: 123px auto 0 auto;
    padding-left: 19px;
}
main h2{
    margin-bottom: 17px;
    font-size: 26px;
    font-family: 'Righteous', cursive;
}
.food {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 27px;
}
img{
    width: 144px;
    height: 82px;
    border-radius: 4px;
    object-fit: cover;
}
.option{
    background-color: white;
    height: 216px;
    width: 178px;
    border-radius: 9px;
    margin-right: 16px;
    cursor: pointer;
}
.option img{
    margin:  18px 14px 5px 14px;
}
.option h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 14px;
    margin-bottom: 8px;
}
.description{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #A6A6A6;
    margin-left: 14px;
}
.price {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 14px;
    margin-top: 8px;
    display: flex;
}
span{
    display: block;
    margin-left: 6px;
}
.icon{
    color: #32B72F;
    margin-left: 62px;
    font-size: 19px;
    display: none;
}
.drink {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 27px;
}
.dessert {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 108px;
}
.footer{
    width: 100%;
    height: 92px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
}
.button{
    height: 61px;
    width: 300px;
    background-color: #CBCBCB;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.select-item{
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 3px #32B72F;
}
.show-icon{
    display: initial;
}
.buttonGreen{
    background-color: #32B72F;
}

.transparent{
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.confirm-order{
    position: fixed;
    z-index: 3;
    background-color: #50D074;
    width: 65%;
    height: 353px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 9px;
}
.confirm-order p{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.confirm-order h1{
    margin-bottom: 15px;
    font-weight: bold;
}
.confirm-order p:nth-child(5){
    font-weight: bold;
}
.priceFinal{
    margin-left: 20px;
}
.buttons-final{
    width: 65%;
    height: 52px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.confirm{
    background-color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #50D074;
}
.cancel{
    margin-top: 10px;
    background-color: #50D074;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 337px) {
    .confirm-order{
        font-size: 15px;
    }
}